html {
    scroll-behavior: smooth;
}
/* Reset some default margin and padding for consistency */
body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and set a default font */
body {
    background-color: #f8f8f8;
    background-image: url('images/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the header with your name */
#name {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* Add some space between sections with a horizontal line */
hr {
    margin: 20px 0;
}

/* Style the summary section */
h3 {
    color: #555;
}

img {
    display: block; /* To center the image */
    margin: 20px auto; /* Add space around the image and center it */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    width: 200px;
    height : auto;
    border-radius: 10px; /* Add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the education section */
li {
    list-style: none; /* Remove the default list styling */
    margin-bottom: 10px;
}

strong {
    color: #3498db; /* Set a color for the strong element (e.g., education titles) */
}
